/* < !-- google font link start --> */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* < !-- google font link end --> */

/* global style start */

* {
    margin: 0 auto;
    padding: 0;
}

/* global style end */

/*  banner related style start */

.banner {
    width: 1320px;
    height: 600px;
    position: relative;
    margin: 100px auto
}

.banner-container img {
    width: 1320px;
    height: 600px;
    border-radius: 17px;
}

.banner-sub-heading {
    position: absolute;
    top: 160px;
    left: 530px;
    font-family: "Merriweather", serif;
    font-size: 32px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;

}

.banner-heading {
    position: absolute;
    width: 632px;
    height: 190px;
    top: 283px;
    left: 350px;
    font-family: "Merriweather", serif;
    font-size: 72px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;
}

/*  banner related style end */

/* all categories realted style start */

.categories {
    margin: 120px auto;
    text-align: center;
}

.offer-heading {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 88px;
    color: rgb(255, 0, 0);
}

.offer-sub-heading {
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: rgb(255, 0, 0);
}

.offer-description {
    margin-top: 20px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 48px;
    color: rgb(7, 2, 17);
}

.categories img {
    margin-top: 30px;
    width: 800px;
    height: 500px;
}

/* all categories realted style end */

/* party related style start  */

.midnight-party {
    background-image: url('../images/party.png');
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 17px;
    width: 1320px;
    height: 600px;
    margin-top: 125px;
    display: flex;

}

.party-heading {
    padding-top: 150px;
    padding-left: 70px;
    font-family: "Merriweather", serif;
    font-weight: 900;
    font-size: 64px;
    color: rgb(255, 255, 255);
}

.party-sub-heading {
    padding-left: 70px;
    margin-top: 30px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: rgba(255, 255, 255, 0.8);
}

.join-btn {
    padding-left: 110px;
    margin-top: 70px;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.midnight-party img {
    width: 340px;
    height: 465px;
    margin-top: 70px;
    margin-left: 20px;
}

/* party related style end  */