/* < !-- google font link start --> */

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


/* < !-- google font link end --> */

/* global style start */

* {
    margin: 0px;
    padding: 0px;
}

/* global style end */

/*  banner related style start */

.banner {
    width: 1320px;
    height: 600px;
    position: relative;
    margin: 100px auto
}

.banner-container img {
    width: 1320px;
    height: 600px;
    border-radius: 17px;
}

.banner-sub-heading {
    position: absolute;
    top: 160px;
    left: 530px;
    font-family: "Merriweather", serif;
    font-size: 32px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    text-align: center;

}

.banner-heading {
    position: absolute;
    width: 632px;
    height: 190px;
    top: 283px;
    left: 350px;
    font-family: "Merriweather", serif;
    font-size: 72px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 900;
}

/*  banner related style end */